/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
	color: #3a3a3a;
	background: #f5f5f0;
}

p {
	padding-left: .5em;
	padding-right: .5em;
	font-size: 1.20em;
	text-align: center;
	margin-bottom: 1.5em;
	color: #4c4c34;
}

.intro-par {
	padding-left: .25em;
	padding-right: .25em;
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 1.75em;
	color: #808080;
}

.foot-par {
	padding-left: .25em;
	padding-right: .25em;
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 1.75em;
	color: #808080;
}

.contact-par {
	padding-left: .5em;
	padding-right: .5em;
	font-size: 1.35em;
	text-align: center;
	margin-bottom: 1em;
	color: #808080;
}

h1 {
	font-weight: 800;
	color: #0f0f0a;
}

h2 {
		font-size: 1.5em;
		text-align: center;
		color: #4c4c34;
}

h3 {
	text-align: center;
	font-size: 1.30em;
	padding-bottom: 1em;
}

a {
	text-decoration: none;
	font-weight: 700;
	color: #737373;
}

h2,
h3 {
	margin-top: 0;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	text-align: center;
	font-size: 2em;
	font-weight: 800;
	color: #3d3d29;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav li {
	text-align: center;
	background: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 6px;
	margin-bottom: 6px;
	border: 2px solid #333;
	box-shadow: 5px 5px 5px #888;
}

.main-nav a {
	font-size: 1.25em;
	font-weight: 800;
	color: #3d3d29;
	text-transform: uppercase;
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.main-nav a:hover {
	color: #009999;
}

.sec-title {
	font-size: .95em;
	font-weight: 800;
	color: #3d3d29;
	text-transform: uppercase;
}

.profile-img {
	height: auto;
	width: 70%;
	padding-top: .5em;
	padding-bottom: .5em;
}

.portfolio-img {
	height: 100%;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.portfolio-sec {
	background: #d1e0e0;
	padding-top: 4em;
	padding-bottom: 3em;
	border: 2px solid #a6a6a6;
	box-shadow: 3px 3px 10px #537979;
}

.skills-sec {
	background-color: #c1f0c1;
	margin-top: 4em;
	margin-bottom: 1em;
	padding-top: 4em;
	padding-bottom: 3em;
	border: 2px solid #a6a6a6;
	box-shadow: 3px 3px 10px #196719;
}

#footer-bottom-mobile h3 {
	text-align: left;
	font-size: 1.20em;
}

#footer-bottom-mobile a {
	float: right;
	color: #3d3d29;
	text-transform: uppercase;
}

#footer-bottom-mobile a:hover {
	color: #009999;
}


/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1em;
	background: #f5f5f0;

}

.main-nav {
	padding-top: 1em;
	padding-bottom: 3em;
}

.main-footer {
	text-align: center;
	padding-top: 4em;
	padding-bottom: 4em;
	background: #f5f5f0;
}

.sub-footer {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: .5em;
	background: #f5f5f0;
}

#footer-bottom-mobile {
	padding-top: 2em;
	border-top: solid 2px #e6e6e6;
}

#footer-bottom-tablet {
	display: none;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

	p {
		padding-left: 2.5em;
		padding-right: 2.5em;
		font-size: .95em;
		margin-bottom: 2em;
		min-height: 96px;
	}

	h2 {
		font-size: 1.15em;
	}

	h3 {
		font-size: 1em;
		padding-bottom: .5em;
	}

	.name {
		font-size: 1.5em;
		padding-top: .75em;
		margin-bottom: 0;
	}

	.main-nav a {
		font-size: .95em;
		padding-top: 0;
	}

	.main-header {
		padding-bottom: 2em;
	}

	.main-nav li {
		display: inline-block;
		background: transparent;
		border: none;
		box-shadow: none;
	}

	.intro-par {
		padding-left: .25em;
		margin-left: .5em;
		font-size: 1.20em;
		text-align: left;
		margin-top: 0;
	}

	.foot-par {
		padding-left: 4em;
		padding-right: 4em;
		padding-top: .5em;
		margin-bottom: 1em;
	}

	.contact-par {
		font-size: 1.25em;
		min-height: 24px;
	}

	.feat-img {
		display: inline-block;
		width: 38%;
		float: right;
		margin-top: 5px;
		margin-left: .75em;
		margin-right: 0;
		margin-bottom: 25px;
		padding: 0;
	}

	.portfolio-img {
		padding-bottom: 1em;
	}

	.portfolio-sec {
		padding-top: 3em;
		padding-bottom: 1em;
	}

	.skills-sec {
		padding-top: 3em;
		padding-bottom: 1em;
	}

	.main-footer {
		padding-top: 3em;
		padding-bottom: 2.5em;
	}

	.sub-footer {
		padding-bottom: 4em;
	}

	#footer-bottom-tablet {
		display: block;
		padding-top: 1.25em;
		border-top: solid 1px #e6e6e6;
	}

	#footer-bottom-tablet h3 {
		display: inline;
		float: left;
		font-size: .95em;
	}

	#footer-bottom-tablet a {
		color: #3d3d29;
		text-transform: uppercase;
	}

	#footer-bottom-tablet a:hover {
		color: #009999;
	}

	#footer-bottom-tablet ul {
		float: right;
		font-size: .95em;
	}

	#footer-bottom-tablet li {
		float: left;
	}

	#footer-bottom-mobile {
		display: none;
	}

	.footer-nav a {
		display: inline;
		padding: 10px 15px;
	}

	.footer-nav a:hover {
		color: #093a58;
	}

	/* ---- Columns ---- */

	.primary {
		display: inline;
		float: left;
		width: 50%;
		padding-right: 8px;
	}

	.secondary {
		display: inline;
		float: right;
		width: 50%;
		padding-left: 8px;
	}

	/* ------------- */

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {

	body {
		background-color: #f5f5f0;
	}

	.main-header {
		margin-bottom: 0;
	}

	.main-header h1 {
		width: 50%;
		text-align: left;
		padding-left: 2em;
		float: left;
	}

	.main-header ul {
		text-align: right;
		padding-right: 2em;
	}

	.main-header li a {
		float: right;
	}

	.intro-par {
		padding-left: 2em;
		width: 55%;
	}

	.profile-img {
		width: 40%;
		padding-right: 3em;
	}

	.portfolio-sec {
		margin-left: 2em;
		margin-right: 2em;
		padding-bottom: 2em;
		padding-left: 1.25em;
		padding-right: 1.25em;
	}

	.skills-sec {
		margin-top: 3.5em;
		margin-left: 2em;
		margin-right: 2em;
		padding-bottom: 2em;
		padding-left: 1.25em;
		padding-right: 1.25em;
	}

	.desktop-primary {
		display: inline;
		float: left;
		width: 33.3%;
		padding-left: 8px;
		padding-right: 8px;
	}

	.desktop-secondary {
		display: inline;
		float: left;
		width: 33.3%;
		padding-left: 8px;
		padding-right: 8px;
	}

	.desktop-tertiary {
		display: inline;
		float: left;
		width: 33.3%;
		padding-left: 8px;
		padding-right: 8px;
	}

	p {
		padding-left: .25em;
		padding-right: .25em;
	}

	.main-footer {
		margin-top: 0;
		padding-top: 3em;
	}

	.foot-par {
		padding-left: 11em;
		padding-right: 11em;
		padding-top: 0;
	}

	.sub-footer {
		padding-left: 3em;
		padding-right: 3em;
		padding-bottom: 0;
	}

	#footer-bottom-tablet ul {
		font-size: .75em;
	}

	.footer-nav a {
		padding-right: 0;
	}

	/* ------------- */

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

}
